* {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
