$primary-color: hsl(158, 36%, 37%);
$secondary-color: hsl(30, 38%, 92%);
$terciary-color: hsl(212, 21%, 14%);
$neutral-color: hsl(228, 12%, 48%);
$white: #fff;
$black: #000;

$font-body: "Montserrat", sans-serif;
$font-title: "Fraunces", serif;

$border-radius: 8px;
